body {
    background-color: rgb(201, 185, 185, .4);
    font-family: 'Dancing Script', cursive;
    margin: 4vw;
}



a {
    text-decoration: none;
    color: rgb(66, 58, 58);
    text-shadow: 1px 1px rgb(192, 142, 151);
}

a:hover {
    color: grey;
}



.navbar {
    display: flex;
    gap: 8vw;
    z-index: 1;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    padding: 2vw;
    border: 1px solid rgb(192, 142, 151);
    background-color: rgb(227, 204, 208);
}

.navbutton {   
    border: none;
    background-color: transparent;
    font-size: 3vw;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px rgb(130, 96, 102);
}


            /* Hamburger nav  */
    .hidden {
        visibility: hidden;
    }

   #hamnav {
     position: relative;
    }

    #hamitems a {
      box-sizing: border-box;
      text-align: center;
      display: block;
      width: 100%;
      padding: 10px;
      text-decoration: none;
      color: rgb(28, 26, 26);
      background: rgb(201, 185, 185, .4);
    }
   
    /* (B) SHOW HAMBURGER ICON */
    #hamnav label { 
      color: rgb(131, 125, 125);
      background:  transparent;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }

 



.about-containter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;
    font-size: 80%;
}


.herocontain {
    display: flex;
    justify-content: center;
    margin: 5vw;
}


.heroimg {
    width: 65vw;
    position: relative;
    border: 2px solid rgb(192, 142, 151);
}

.logo {
 position: absolute;
 width: 13vw;
 margin-top: 28vw;
}



.headshot {
    margin: 10px;
    border: 2px solid rgb(192, 142, 151);
    width: 30%;
    height: 30%;
}

.my_name {
    border-bottom: 1px solid rgb(192, 142, 151);
    color: rgb(3, 3, 3);
    text-shadow: 2px 2px rgb(192, 142, 151);
    font-family: 'Dancing Script', cursive;
    font-size: 2.5vw;
}


.intro-p {
    text-indent: 5vw;
    text-align: right;
    font-family: serif;
    font-size: 1.6vw;
    margin: 2vw;
}


.my_work_button {
    margin-left: 4%;
    width: 40vw;
    padding: 1vw;
    font-size: 3vw;
    font-family: 'Dancing Script', cursive;
    border: 1px solid rgb(192, 142, 151);
    background-color: rgb(227, 204, 208);
    color: rgb(78, 55, 55);
    
}


.education_paragraph {
    font-size: 2vw;
    text-indent: 5vw;
    font-family: serif;
    font-size: 1.6vw;
    margin: 7vw;
}

.sofware_logos {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vw;
    width: 90vw;
    justify-content: center;
}


.soft-logo {
    width: 8vw;
}



.my-work-title {
    padding: 10px 100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    text-align: center;
    border: 1px solid rgb(192, 142, 151);
    background-color: rgb(227, 204, 208);
    text-shadow: 2px 2px rgb(192, 142, 151);
    font-size: 3vw;
    font-family: 'Dancing Script', cursive;
}


             /* My cards */


             
             /* Footer */


#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    height: 20vw;
    border: 1px solid rgb(192, 142, 151);
    background-color: rgb(227, 204, 208);
    margin-top: 5vw;
}

#footer h3 {
    padding: 1vw;
    margin: auto;
    font-size: 3vw;
    padding-left: 30vw;
    padding-right: 30vw;
    text-shadow: 2px 2px rgb(192, 142, 151);
    border-bottom: solid 1px rgb(130, 96, 102);
    margin-bottom: 1vw;
    
}

#footer address {
    padding: 1vw;
    margin: auto;
    font-size: 2vw;
    font-family:'Times New Roman', Times, serif;
}

#footer a {
    padding: 1vw;
    margin: auto;
    font-size: 2vw;
    font-family:'Times New Roman', Times, serif;
}

.footercontain {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 6vw;
}

.instagram {
    width: 4vw;
}

.socialhandle {
    display: flex;
    align-content: center;
}



            /*hide ham for larger browsers*/
            
@media only screen and (min-width:501px) {
    #hamnav, #hamitems {
        display: none;
    }
}






    

             /* hide nav*/

@media only screen and (max-width: 500px) {
    .navbar {
        display: none;
    }

    .hidden {
        display: none;
    }
}