body {
    background-color: rgb(201, 185, 185, .4);
    font-family: 'Dancing Script', cursive;
    cursor: url(/Components/Cursor_daisy.png), wait;
    margin: 4vw;
}



a {
    text-decoration: none;
    color: rgb(66, 58, 58);
    text-shadow: 1px 1px rgb(192, 142, 151);
}

a:hover {
    color: grey;
}



.navbar {
    display: flex;
    gap: 4vw;
    z-index: 1;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    padding: 2vw;
    border: 1px solid rgb(192, 142, 151);
    background-color: rgb(227, 204, 208);
}

.navbutton {   
    border: none;
    background-color: transparent;
    font-size: 3vw;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px rgb(130, 96, 102);
}


            /* Hamburger nav  */
    .hidden {
        visibility: hidden;
    }

   #hamnav {
     position: relative;
    }

    #hamitems a {
      box-sizing: border-box;
      text-align: center;
      display: block;
      width: 100%;
      padding: 10px;
      text-decoration: none;
      color: white;
      background: rgb(201, 185, 185, .4);
    }
   
    /* (B) SHOW HAMBURGER ICON */
    #hamnav label { 
      color: white;
      background:  transparent;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }

 



.about-containter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;
    font-size: 80%;
}


.herocontain {
    display: flex;
    justify-content: center;
    margin: 5vw;
}


.heroimg {
    width: 65vw;
    position: relative;
    border: 2px solid rgb(192, 142, 151);
}

.logo {
 position: absolute;
 width: 13vw;
 margin-top: 28vw;
}



.headshot {
    margin: 10px;
    border: 2px solid rgb(192, 142, 151);
    width: 30%;
    height: 30%;
}

.my_name {
    border-bottom: 1px solid rgb(192, 142, 151);
    color: rgb(3, 3, 3);
    text-shadow: 2px 2px rgb(192, 142, 151);
    font-family: 'Dancing Script', cursive;
    font-size: 2.5vw;
}


.intro-p {
    text-indent: 5vw;
    text-align: right;
    font-family: serif;
    font-size: 1.6vw;
    margin: 2vw;
}


.my_work_button {
    margin-left: 4%;
    width: 40vw;
    padding: 1vw;
    font-size: 3vw;
    font-family: 'Dancing Script', cursive;
    border: 1px solid rgb(192, 142, 151);
    background-color: rgb(227, 204, 208);
    color: rgb(78, 55, 55);
    
}


.education_paragraph {
    font-size: 2vw;
    text-indent: 5vw;
    font-family: serif;
    font-size: 1.6vw;
    margin: 7vw;
}

.sofware_logos {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vw;
    width: 90vw;
    justify-content: center;
}


.soft-logo {
    width: 8vw;
}



.my-work-title {
    padding: 10px 100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    text-align: center;
    border: 1px solid rgb(192, 142, 151);
    background-color: rgb(227, 204, 208);
    text-shadow: 2px 2px rgb(192, 142, 151);
    font-size: 3vw;
    font-family: 'Dancing Script', cursive;
}


             /* My cards */


             .carousel {
                margin-left: 15%;
                margin-right: 15%;
            }
            
            ul.slides {
                display: block;
                position: relative;
                height: 600px;
                margin: 0;
                padding: 0;
                overflow: hidden;
                list-style: none;
            }
            
            .slides * {
                user-select: none;
                -ms-user-select: none;
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -webkit-touch-callout: none;
            }
            
            ul.slides input {
                display: none; 
            }
            
            
            .slide-container { 
                display: block; 
            }
            
            .slide-image {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                opacity: 0;
                transition: all .7s ease-in-out;
            }   
            
            .slide-image img {
                width: auto;
                min-width: 100%;
                height: 100%;
            }
            
            .carousel-controls {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 999;
                font-size: 100px;
                line-height: 600px;
                color: #fff;
            }
            
            .carousel-controls label {
                display: none;
                position: absolute;
                padding: 0 20px;
                opacity: 0;
                transition: opacity .2s;
                cursor: pointer;
            }
            
            .slide-image:hover + .carousel-controls label{
                opacity: 0.5;
            }
            
            .carousel-controls label:hover {
                opacity: 1;
            }
            
            .carousel-controls .prev-slide {
                width: 49%;
                text-align: left;
                left: 0;
            }
            
            .carousel-controls .next-slide {
                width: 49%;
                text-align: right;
                right: 0;
            }
            
            .carousel-dots {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 20px;
                z-index: 999;
                text-align: center;
            }
            
            .carousel-dots .carousel-dot {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #fff;
                opacity: 0.5;
                margin: 10px;
            }
            
            input:checked + .slide-container .slide-image {
                opacity: 1;
                transform: scale(1);
                transition: opacity 1s ease-in-out;
            }
            
            input:checked + .slide-container .carousel-controls label {
                 display: block; 
            }
            
            input#img-1:checked ~ .carousel-dots label#img-dot-1,
            input#img-2:checked ~ .carousel-dots label#img-dot-2,
            input#img-3:checked ~ .carousel-dots label#img-dot-3,
            input#img-4:checked ~ .carousel-dots label#img-dot-4,
            input#img-5:checked ~ .carousel-dots label#img-dot-5,
            input#img-6:checked ~ .carousel-dots label#img-dot-6 {
                opacity: 1;
            }
            
            
            input:checked + .slide-container .nav label { display: block; }
            
             
             /* Footer */


.footer {
    width: 100vw;
    height: 20vw;
    border: 1px solid rgb(192, 142, 151);
    background-color: rgb(227, 204, 208);
}







            /*hide ham for larger browsers*/
            
@media only screen and (min-width:437px) {
    #hamnav, #hamitems {
        display: none;
    }
}






    

             /* hide nav*/

@media only screen and (max-width: 436px) {
    .navbar {
        display: none;
    }

}