body {
    background-color: rgb(201, 185, 185, .4);
    font-family: cursive;
}

.navbar {
    display: flex;
    z-index: 1;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    /* position: absolute; */
    margin: 0 auto;
}

.navbutton {
    max-height: 30px;    
    border: none;
    color: white;
    background-color: transparent;
    font-size: 25px;
    margin-top: 30px;
    padding: 0px 40px;
    font-family:cursive, serif, sans-serif;
}

.logo {
    width: 5em;
    flex-shrink: 3;
}

.ham-logo {
    visibility: hidden;
}

.floating_image {
    position: relative;
    top: -100px;
    left: -8px;
    min-width: 100vw;
    z-index: -1;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -100px;
  width: 50%;
}

#intro-container {
    display: flex;
    align-items: center;
}

.intro {
    padding: 20px;
    margin-top: 30px;
    font-family: serif;
    font-size: 20px;
}

.intro-p {
    margin-top: -20px;
    margin-left: 20px;
    font-family: serif;
    font-size: 17px;
}

.my_work {
    margin-left: 20px;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    background-color: rgb(192, 142, 151);
    color: white;
    border: none;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
    
}







            /*hide ham for larger browsers*/
            
@media only screen and (min-width:437px) {
    #hamnav, #hamitems {
        display: none;
    }
}


            /*Adjust image and hide logo for smaller browser*/

@media only screen and (max-width: 761px) {

    .navbutton {
        padding: 0px 10px;
    }

    .logo {
        display: none;
    }

    .floating_image {
        top: -100px;
    }
}



            /* show hamburger */
@media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    
    
    #hamnav {
     position: absolute;
    }

    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 10px;
      text-decoration: none;
      color: white;
      background: rgb(201, 185, 185, .4);
    }
   
    /* (B) SHOW HAMBURGER ICON */
    #hamnav label { 
      display: inline-block; 
      color: white;
      background:  transparent;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }
    
             /* hide nav*/

@media only screen and (max-width: 436px) {
    .navbar {
        display: none;
    }

}

