body {
    background-color: antiquewhite;
}

.back {
    text-decoration: none;
    color: white;
}
.back-btn {
    
        height: 55px;
        width: 60px;  
        font-size: 2em;
        font-family: 'Dancing Script', cursive;
        border-radius: 50%;
        border: none;
        background-color: rgb(192, 142, 151);
        color: white;
        text-align: center;
        box-shadow: 3px -2px 8px rgb(58, 34, 38);
        cursor: pointer;
}

.back-btn:active {
     box-shadow: none;
     background-color: rgb(176, 129, 138);
}

.wrapper {
    display: flex;
    flex-wrap: wrap
}

h1 {
    color: black;
    border-bottom: 1px solid rgb(192, 142, 151);
    text-shadow: 2px 2px rgb(192, 142, 151);
    font-family: 'Dancing Script', cursive;;
}

img {
    width: 80%;
    margin: 10px 20px;
    border: 2px solid  rgb(152, 88, 101);
    box-shadow: rgb(192, 142, 151) 10px 5px;
}

video {
    width: 100%;
}

p {
    text-indent: 0.5in;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.3em;
}

.bc {
    width: 300px;
}

.bp {
    width: 700px;
}

@media only screen and (min-width: 761px) {
    img {
        width: 40%;
    }
}


@media only screen and (min-width: 1400px) {
    img {
        width: 20%;
    }
}

